# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.For a full list of active aliases, run `alias`.

# Git
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles.git --work-tree=$HOME'

# LS
alias l1='ls -1'

# PS
alias px='ps aux'
alias pxu='ps aux | grep $USER'

# VIM
alias vim='nvim'
